<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ALL genres</title>
    </head>
    <%- include('./moduls/style.ejs') %>

    <body>
        <h1 style="color: #494d5f">
            <a href="/" style="margin-left: 20px; color: #494d5f">Home</a>
        </h1>
        <% if (films.length) { %> <% let count = 0 %> <% let mas = [] %> <%
        films.forEach(({ genre })=>{ %> <% if(!mas.includes(genre)) { %> <%
        mas.push(genre) %>
        <h1 style="color: #494d5f">
            <a
                href="/genre/<%= genre %>"
                style="margin-left: 20px; color: #494d5f"
                ><%= genre %></a
            >
        </h1>
        <% } %> <% }) %> <% } %>
    </body>
</html>
